# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl

# Artifacts
artifacts/

# Data
data/bronze/*
data/silver/*
data/gold/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# MLflow local database
mlflow.db
mlruns/

# Cache
.pytest_cache/
.ruff_cache/