# MLflow
mlflow.db
mlruns/

# Cache
.pytest_cache/
.ruff_cache/

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/bronze/
data/silver/

# Artifacts
artifacts/

# IDE
.vscode/